@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Proxy</h1>
    <p>Share files, notes and texts between devices in your local network.</p>
    <h4>Server IP: @(ViewData["LocalIPAddress"])</h4>
    <img src="@ViewData["QrCodeImage"]" alt="QR Code" style="width: 300px; height: 300px;"/>
    <br />
    <a href="https://github.com/Byte-White/Proxy">github page</a>
</div>


